.input-element {
	display: flex;
	flex-direction: column;
}
label {
	margin-bottom: 5px;
}
input {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
}

input:focus {
	outline: none;
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form {
	margin: 0;
	padding: 0;
}
